/* General Formatting */
* {
	padding: 0px;
	margin: 0px;
}

/* Header Bar */

header {
	display: flex;
	flex-flow: : row wrap;
	position: fixed;
	border-bottom: 1px solid black;
	max-height: 60px;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	background: white;
	z-index: 1;
}
	.header-title {
		font-family: Verdana;
		align-self: center;
		flex-grow: 1;
		color: MediumAquamarine;
	}
	.header-nav {
		display: flex;
		align-self: center;
		flex-wrap: wrap;
		justify-content: space-around;
		font-size: 14px;
		font-weight: bold;
	}
		.header-nav span {
			margin: auto 10px;
		}


/* Main Body */
.container {
	display: flex;
	padding: 80px 0px;
}

/* Columns */
	.column {
		top: 100px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-right: 32px;
	}
		.column.lg {
			width: 630px;
			justify-content: space-between;
		}
		.column.md {
			width: 300px;
			flex-direction: column;
		}
		.column.sm {
			width: 240px;
			flex-direction: column;
		}

/* Boxes within columns */
	.box {
        font-family: Georgia;
        display: flex;
        flex-direction: column;
	}

	/**//* Main Story Block *//**/
		.ms.box {
			min-width: 630px;

		}

	/**//* Text Block *//**/
		.text-content {
			justify-content: center;
			margin-top: 20px;
			width: 300px;
			min-height: 300px;
			align-content: center;
		}
			p.narrative {
				font-family: Georgia;
	    		font-size: 17px;
	    		margin-top: 16px;
				color: black;
		}
	/**//* Image Block *//**/
		.img-content {
			justify-content: center;
			margin-top: 20px;
			height: 300px;
			width: 300px;
			font-weight: bold;
			text-align: center;
			font-size: 30px;
			color: white;

	/**//* News Bites Block *//**/
		}
		.column.sm .box h3 {
			margin-bottom: 41px;
		    font-size: 16px;
		    font-weight: bold;
		    text-align: center;
		}
		.bites span {
			display: block;
		    padding: 11px 20px;
		    border-bottom: 1px solid black;
		    background-color: WhiteSmoke;
		    font-family: Verdana;
		    font-size: 12px;
		    color: DimGray;
		}

/* Story Banners */
.mainstory {
	background-image: url(../img/img-story-main.png);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	font-size: 40px;
	font-weight: bold;
	color: white;
}

.earthsping {
	background-image: url(../img/img-story-2.png);
	height: 300px;
}

.catcontrol {
	background-image: url(../img/img-story-1.png);
	font: white;
	height: 300px;
}

.photo {
	background-image: url(../img/img-story-3.png);
	height: 300px;
}

/* Footer */

footer {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 325px;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
}

.info {
	display: block;
}

footer nav {
	display: inline-block;
    padding-left: 25px;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

footer .title {
    display: inline-block;
    padding-right: 25px;
    border-right: 2px solid white;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}